<div class="change-password-container">
    <h2>{{ 'CHANGE_PASSWORD' | translate }}</h2>
    <p class="description">
      {{ 'CHANGE_PASSWORD_DESCRIPTION' | translate }}
    </p>
  
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'NEW_PASSWORD' | translate }}</mat-label>
        <input matInput type="password" formControlName="newPassword" placeholder="{{ 'ENTER_NEW_PASSWORD' | translate }}">
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'CONFIRM_PASSWORD' | translate }}</mat-label>
        <input matInput type="password" formControlName="confirmPassword" placeholder="{{ 'ENTER_PASSWORD' | translate }}">
      </mat-form-field>
  
      <div class="buttons">
        <button mat-flat-button color="primary" type="submit">{{ 'SAVE' | translate }}</button>
        <button mat-stroked-button color="primary" type="button" (click)="onCancel()">{{ 'CANCEL' | translate }}</button>
      </div>
    </form>
  </div>
  
