<div class="quote-search-container">
    <div class="input-group">
      <label>{{ 'STARTING_POINT' | translate }}</label>
      <input type="text" [placeholder]="'FROM' | translate" [(ngModel)]="from" />
    </div>
  
    <div class="icon-swap">
      <mat-icon>swap_vert</mat-icon>
    </div>
  
    <div class="input-group">
      <label>{{ 'DESTINATION' | translate }}</label>
      <input type="text" [placeholder]="'TO' | translate" [(ngModel)]="to" />
    </div>
  
    <div class="input-group">
      <label>{{ 'DEPARTURE_DATE' | translate }}</label>
      <input type="date" [(ngModel)]="date" />
    </div>
  
    <div class="input-group">
      <label>{{ 'DEPARTURE_TIME' | translate }}</label>
      <input type="time" [(ngModel)]="time" />
    </div>
  
    <button class="find-button" (click)="onSearch()">
      {{ 'FIND' | translate }}
    </button>
  </div>
  