<h2>{{ 'RESERVE' | translate }}</h2>

<div class="header">
  <div>
    <p class="driver-name">{{ data.driver }}</p>
    <p class="driver-role">{{ 'STUDENT_DRIVER' | translate }}</p>
    <div class="stars">
      <mat-icon *ngFor="let i of [1,2,3,4,5]">star</mat-icon>
    </div>
  </div>
  <img [src]="mapUrl" alt="Map preview" class="map" />
</div>

<div class="info">
  <p><strong>{{ 'STARTING_POINT' | translate }}:</strong> {{ data.origin }}</p>
  <p><strong>{{ 'DESTINATION' | translate }}:</strong> {{ data.destination }}</p>
  <p><strong>{{ 'DEPARTURE_DATE' | translate }}:</strong> {{ data.date }}</p>
  <p><strong>{{ 'DEPARTURE_TIME' | translate }}:</strong> {{ data.time }}</p>
  <p><strong>{{ 'ESTIMATED_PRICE' | translate }}:</strong> S/.{{ data.price }}</p>
</div>

<div class="payment">
  <p><strong>{{ 'PAYMENT_METHOD' | translate }}:</strong></p>
  <mat-radio-group [(ngModel)]="paymentMethod">
    <mat-radio-button value="Yape">{{ 'YAPE' | translate }}</mat-radio-button>
    <mat-radio-button value="Plin">{{ 'PLIN' | translate }}</mat-radio-button>
    <mat-radio-button value="Sencillo">{{ 'SENCILLO' | translate }}</mat-radio-button>
  </mat-radio-group>
</div>

<div class="actions">
  <button mat-flat-button color="primary" (click)="submit()">{{ 'REQUEST' | translate }}</button>
  <button mat-stroked-button (click)="close()">{{ 'CANCEL' | translate }}</button>
  <button mat-stroked-button color="warn">{{ 'REPORT' | translate }}</button>
</div>
