<div class="support-container">
  <h1 class="support-title">Support</h1>

  <div class="support-grid">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <img mat-card-sm-image src="assets/warning-icon.png" alt="Warning icon" />
        <mat-card-title-group>
          <mat-card-subtitle class="support-subtitle">Issues with the app</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="p">
        {{ longTextWarning }}
      </mat-card-content>
      <mat-card-content>
        <button mat-flat-button class="support-button">
          Report a problem
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <img mat-card-sm-image src="assets/headphones-icon.png" alt="Headphones icon" />
        <mat-card-title-group>
          <mat-card-subtitle class="support-subtitle">Technical support</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="p">
        {{ longTextHeadphones }}
      </mat-card-content>
      <mat-card-content>
        <button mat-flat-button color="primary" class="support-button">
          View questions
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <img mat-card-sm-image src="assets/phone-icon.png" alt="Phone icon" />
        <mat-card-title-group>
          <mat-card-subtitle class="support-subtitle">Hotline</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="p">
        {{ longTextPhone }}
      </mat-card-content>
      <mat-card-content>
        <button mat-flat-button color="primary" class="support-button">
          Contact number
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <img mat-card-sm-image src="assets/email-icon.png" alt="Email icon" />
        <mat-card-title-group>
          <mat-card-subtitle class="support-subtitle">Issues with the app</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="p">
        {{ longTextEmail }}
      </mat-card-content>
      <mat-card-content>
        <button mat-flat-button color="primary" class="support-button">
          Send email
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
