<h2>{{ 'COMMENTS' | translate }}</h2>

<div class="header">
  <img class="driver-img" [src]="data.driverImage" alt="Driver Image" />

  <div class="driver-info">
    <p class="driver-name">{{ data.driverName }}</p>
    <div class="stars">
      <mat-icon *ngFor="let i of [1,2,3,4,5]">star</mat-icon>
    </div>
    <p class="reviews">{{ data.totalReviews }} {{ 'REVIEWS' | translate }}</p>
    <p class="trips">{{ data.completedTrips }} {{ 'COMPLETED_TRIPS' | translate }}</p>
  </div>

  <select class="rating-filter" [(ngModel)]="selectedRating" (change)="filterByRating()">
    <option value="">{{ 'RATING' | translate }}</option>
    <option *ngFor="let r of [5,4,3,2,1]" [value]="r">
      {{ '★'.repeat(r) }}
    </option>
  </select>
</div>

<div class="comments-list">
  <app-comment-card
    *ngFor="let comment of filteredComments"
    [name]="comment.name"
    [comment]="comment.comment"
    [rating]="comment.rating"
  ></app-comment-card>
</div>

