.history-search-container {
  display: flex;
  align-items: flex-end;
  gap: 24px;
  padding: 24px;
  background-color: #d0e3d3;
  border-radius: 12px;
  flex-wrap: wrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input-group label {
  font-weight: 600;
  font-size: 14px;
  color: #0f2c32;
  margin-bottom: 2px;
}

/* Inputs normales */
.input-group input {
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 200px;
  font-size: 14px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* Alineamos el mat-form-field igual que el input */
.input-group mat-form-field {
  width: 200px;
  margin-top: 0;  /* fuerza alineación vertical */
}

/* Botón */
.find-button {
  height: 42px;
  padding: 0 24px;
  border: none;
  background-color: #0f2c32;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-top: 22px;
}

.find-button:hover {
  background-color: #154944;
}
