<div class="history-search-container">

  <div class="input-group">
    <label>Departure Time</label>
    <input type="month" [(ngModel)]="month" />
  </div>

  <div class="input-group">
    <label>Type</label>
    <mat-form-field>
      <mat-label>Type of trip</mat-label>
      <mat-select [(ngModel)]="type">
        <mat-option value="all">All</mat-option>
        <mat-option value="student">Student</mat-option>
        <mat-option value="family">Family</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="input-group">
    <label>Travel expenses</label>
    <input type="text" [(ngModel)]="pay" />
  </div>

  <button class="find-button" (click)="onSearch()">Find</button>
</div>

