.container {
  max-width: 600px;
  margin: 80px auto;
  padding: 20px 40px;
  font-family: 'Arial', sans-serif;
  color: #0F2C32;
}

mat-card {
  box-shadow: none;
  background-color: white;
  border: none;
}

mat-card-header {
  margin-bottom: 10px;
}

mat-card-title {
  font-size: 36px;
  font-weight: 700;
  color: #0F2C32;
}

mat-card-content p {
  font-size: 14px;
  margin-bottom: 40px;
  color: #0F2C32;
}

.input-wrapper {
  margin-bottom: 30px;
}

.input-field {
  width: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #0F2C32;
  border-color: #0F2C32;
}

::ng-deep .mat-input-element {
  font-size: 14px;
  padding: 14px;
}

.button-group {
  display: flex;
  gap: 25px;
  margin-top: 20px;
}

.save-button {
  background-color: #0F2C32;
  color: white;
  width: 150px;
  height: 45px;
  font-size: 16px;
  border-radius: 4px;
}

.cancel-button {
  border: 1px solid #0F2C32;
  color: #0F2C32;
  background-color: white;
  width: 150px;
  height: 45px;
  font-size: 16px;
  border-radius: 4px;
}
