<mat-toolbar color="primary" class="toolbar">
    <div class="left">
        <img src="" alt="nango logo" class="logo">
        <nav class="nav-links">
            <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true}">Home</a>
            <a mat-button routerLink="/quotes" routerLinkActive="active-link">Quotes</a>
            <a mat-button routerLink="/history" routerLinkActive="active-link">History</a>
        </nav>
    </div>
    <div>
        <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
        </button>
        <span class="username">Rosario Rojar</span>
        <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>